/////// All Colors

// Background Box Color
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

//// Background Color
$b-color: hsl(0, 0%, 95%);
$p-color: hsla(0, 0%, 100%, 0.75);
